---
import Layout from "../layouts/Layout.astro";
var requestOptions: RequestInit = {
  method: "GET",
  redirect: "follow",
};

fetch("https://api.nb.com.ar/v1/", requestOptions)
  .then((response) => response.text())
  .then((result) => console.log(result))
  .catch((error) => console.log("error", error));
---

<Layout tittle="Tienda">
  <h1>Hola</h1>
</Layout>
