---
import { actions } from "astro:actions";

const { data: categories, error } = await Astro.callAction(
  actions.getAllCategories,
  {}
);
---

{error && <p>Error al cargar categorías</p>}

{
  categories && categories.length > 0 ? (
    <ul>
      {categories
        .filter((cat) => cat.productCount > 0) // ✅ filtrar
        .map((cat) => (
          <li class="flex items-center gap-x-2">
            <a href={`/categoria/${cat.slug}`}>{cat.name}</a>
            <span class="text-gray-600 text-[0.85rem]">
              - {cat.productCount}
            </span>
          </li>
        ))}
    </ul>
  ) : (
    <p>No hay categorías disponibles</p>
  )
}
