---
interface Props {
  ficha: any;
}

const { ficha } = Astro.props;
console.log(ficha);

const attributes = ficha.attributes ?? {};
const attributesEntries = Object.entries(attributes);
---

<div class="mt-8">
  <h2 class="text-xl font-semibold mb-2">Ficha técnica</h2>

  <ul class="grid grid-cols-1 md:grid-cols-2 gap-2">
    {
      attributesEntries.map(([key, value]) => (
        <li class="border p-2 rounded">
          <strong>{key}:</strong> {String(value)}
        </li>
      ))
    }
  </ul>
</div>
