---
import logo from "../assets/logo_cpx_light_3.svg";
import logoWhatsapp from "../assets/whatsapp-svgrepo-com.svg";
---

<div
  class="w-full p-8 min-h-dvh flex flex-col bg-grisCompumatix items-center justify-center gap-y-20"
>
  <img src={logo.src} alt="ddd" class="max-w-64 md:max-w-96" />
  <h3 class="text-4xl text-center font-extrabold text-azulCompumatix">
    TIENDA EN CONSTRUCCION
  </h3>

  <a
    class="flex items-center gap-2 justify-center text-white font-lexend font-bold text-4xl"
    href="https://wa.me/5491124687354?text=Hola%20me%20gustaría%20saber%20más%20sobre%20sus%20productos"
    ><img src={logoWhatsapp.src} class="h-10" alt="" />11-2468-7354</a
  >
</div>
