---
// src/components/ProductGrid.astro
import ProductItem from "@/components/ProductItem.astro";

interface Props {
  products: any[];
}

const { products } = Astro.props;
---

<div class="container mx-auto grid grid-cols-2 md:grid-cols-4 gap-4">
  {products.map((product) => <ProductItem product={product} />)}
</div>
