---
// src/components/ProductGrid.astro
import ProductItem from "@/components/ProductItem.astro";

interface Props {
  products: any[];
}

const { products } = Astro.props;
---

<div
  class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 md:gap-4 px-3 md:px-0"
>
  {products.map((product) => <ProductItem product={product} />)}
</div>
